.page-header {
    background-color: #69dddd;
    margin-top: 5px;
    padding: 10px 10px 18px 18px;
    font-family: 'Abel';
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.page-header a {
     color: #ffffff; /*se aplica ol elemento a que esté dentro del elemento h2 */
}

.content{
    paddin-top: 20px;
    padding-left:20px; /* margen a la izquierdo*/
    font-size:12px;
    font-family: 'Calibre';
}

.dni{
    color:#882818;
}