<!DOCTYPE html>
{% load static %}
<html lang="en"/>
<head>
    <meta charset="UTF-8">
    <title>MiSitio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&display=swap"/>
    <link rel="stylesheet" href="{% static 'css/misitio.css' %}">
</head>
<body>
    <div class="page-header">
        <h2><a href="/">BookWorld</a></h2>
        <a href="{% url 'nuevoCliente' %}" class="top-menu">
            <span class="glyphicon-plus">Alta Cliente</span>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{#}" class="top-menu">
            <span class="glyphicon-minus">Baja Cliente</span>
        </a>
        <a href="{% url 'nuevoLibro' %}" class="top-menu">
            <span class="glyphicon-plus">Alta Libro</span>
        </a>
    </div>
    <div>
        <div class="content">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>